.lake/
blueprint/.venv/
blueprint/web/
blueprint/print/
blueprint/*.log
blueprint/lean_decls
blueprint/source-links.json
blueprint/src/*.paux
*.aux
*.blg
*.log
*.out
*.synctex.gz
*.fdb_latexmk
*.fls
*.pdf
!docs/blueprint.pdf
!docs/paper.pdf
**/__pycache__/
.DS_Store
